.agendaContainer {
  padding: 24px;
  text-align: center;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.title {
  margin-bottom: 20px;
  color: var(--color-text);
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.dayBlock {
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  padding: 12px 0;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.dayBlock:hover {
  background-color: var(--color-accent-hover);
}

.selected {
  background-color: green;
  border-color: var(--color-accent-hover);
  color: black;
}

.pastDay {
  color: #aaa; /* opcional, poderia criar --color-pastDay se quiser */
  background-color: hsl(0, 0%, 56%); /* ou usar variável */
  cursor: not-allowed;
}

.activeDay {
  background-color: #4caf50; /* poderia criar --color-activeDay se quiser */
  border-color: #388e3c;
  color: #000;
  font-weight: 600;
}

.timeLabel {
  font-size: 0.8rem;
  margin-top: 4px;
  color: var(--color-text);
}

.alarmContainer {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
  color: var(--color-text);
}

.timeInput,
.messageInput {
  display: block;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 6px;
  width: 200px;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

.saveButton {
  padding: 8px 16px;
  background: var(--color-accent);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 12vw;
}

.msgLabel {
  font-size: 0.75rem;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  opacity: 0.8;
}

.saveButton:hover {
  background: var(--color-accent-hover);
}

/* Pop-up */
.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsRow {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.deleteButton {
  background-color: #c9302c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 12vw;
}

.deleteButton:hover {
  background-color: #b52b27;
}

.popup {
  background: var(--color-bg);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  text-align: center;
  color: var(--color-text);
}

.stopButton {
  margin-top: 12px;
  padding: 8px 14px;
  background: #ff4d4f; /* você pode criar --color-stop se quiser */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
