.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 14px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: large;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

.logoText {
  font-size: 18px;
  font-weight: bold;
}

.nav a {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  border: 3px solid #240562;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #240562, #68069a, #b201eb);
  transform: translateY(100%);
  transition: all 0.3s;
  z-index: -1;
}

.nav a:hover {
  color: white;
}
.nav a:hover::before {
  transform: translateY(0);
}

.nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav a:hover {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 10px;
}

.transparentButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.transparentButton:hover {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.register,
.signIn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  border: 3px solid #240562;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.register::before,
.signIn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #240562, #68069a, #b201eb);
  transform: translateY(100%);
  transition: all 0.3s;
  z-index: -1;
}

.register:hover,
.signIn:hover {
  color: white;
}
.register:hover::before,
.signIn:hover::before {
  transform: translateY(0);
}
.effect {
  background-color: #00000000;
  border: none;
  cursor: pointer;
}
