.footer {
  text-align: center;
  padding: 16px;
  background-image: linear-gradient(to right,#cb2fff,#2993ef,#ffff 30% 70%,#2993ef,#cb2fff);
  margin-top: auto;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footerText {
  font-size: 14px;
  color: #666;
}
