.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: var(--color-header);
  color: var(--color-text);
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}

.content {
  flex: 1;
  padding: 16px;
  overflow: auto;
  background: var(--color-bg);
  color: var(--color-text);
}
