
.container{

background: linear-gradient(to bottom, rgb(126, 126, 126), rgb(0, 0, 0));

background-size: 100% 100%;
height: 100vh;

}
.bigText{

color: white;
text-align: center;
}

.container img:hover {
  transform: translateY(-5px);
}