.clock {
  display: inline-block;
  padding: 12px 24px;
  background: #2c2c2c;
  border: 6px solid #000000;
  border-radius: 8px;
  font-family: "Digital-7", monospace, sans-serif;
  font-size: 48px;
  color: #63d138;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 50vw;
  transition: ease-in-out 1s;
}
.clock:hover {
  transform: scale(1.1);
  transition: ease-in-out 1s;
}

.clock::after {
  content: "";
  display: block;
  height: 2px;
  background: rgba(255, 77, 77, 0.5);
  margin-top: 4px;
}

.stopButton {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.stopButton:hover {
  background-color: #e60000;
}

.nextAlarm {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
}

.nextAlarm span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.nextAlarm:hover span {
  animation: wave 0.6s ease forwards;
}

.nextAlarm:hover span:nth-child(1) {
  animation-delay: 0s;
}
.nextAlarm:hover span:nth-child(2) {
  animation-delay: 0.05s;
}
.nextAlarm:hover span:nth-child(3) {
  animation-delay: 0.1s;
}
.nextAlarm:hover span:nth-child(4) {
  animation-delay: 0.15s;
}
.nextAlarm:hover span:nth-child(5) {
  animation-delay: 0.2s;
}
.nextAlarm:hover span:nth-child(6) {
  animation-delay: 0.25s;
}
.nextAlarm:hover span:nth-child(7) {
  animation-delay: 0.3s;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

.stopButton {
  margin-top: 8px;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.popupOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 24px;

  /* Permite clicar fora do popup */
  pointer-events: none;
}

.popup {
  width: 220px;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 12px;
  z-index: 9999;
  color: white;
  /* Reativa os cliques apenas dentro do popup */
  pointer-events: auto;
}
